@model Lab5.Models.User

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-action="StoreLogin" method="post">
    @Html.AntiForgeryToken()
    <div>
        <label>Login:</label>
        <input type="text" asp-for="login" class="form-control" placeholder="Login" />
        <span asp-validation-for="login" class="text-danger"></span>
    </div>
    <br>
    <div>
        <label>Parola:</label>
        <input type="password" asp-for="password" class="form-control" placeholder="Parola" />
        <span asp-validation-for="password" class="text-danger"></span>
    </div>
    <div>
        <a asp-action="Register">Inregistrare</a>
    </div>
    <br>
    <button type="submit" class="form-control">Autentifica</button>
</form>
