@model ICollection<Lab5.Models.User>

@{
    ViewData["Title"] = "Admin Panel";
}

<h2>Panou Administrator</h2>
@foreach(var user in Model){
    <div>
        <label>Id: @user.id:</label>
        <label>Login: @user.login:</label>
    </div>
}